{% extends "leyenda/base_app.dj.html"  %}
{% block encabezado  %}
<h1>Índice de leyendas sobre laberintos</h1>
{% endblock encabezado  %}

{% block contenido %}

<!-- <ul>
    <li>Laberinto de Ícaro - <a href="{% url 'leyenda:nombre' 'icaro' %}">Ver</a></li>
    <li>El corredor del laberinto - <a href="{% url 'leyenda:nombre' 'corredor' %}">Ver</a></li>
    <li>Pac-man - <a href="{% url 'leyenda:nombre' 'pacman' %}">Ver</a></li> 
    <li>Resumen</li>
</ul> -->
    
        <ul id="indice_leyendas">
            {% for nombre, data in leyendas.items %}
            <li>
                {% include 'leyenda/item_link.dj.html' %}
            </li>
            {% endfor %}
        </ul>
{% endblock contenido  %}
