{% load static %}

<div 
  id="item-link"  
  class="pure-g"
>
  <!-- imagen del contenido -->
  <div 
    id="imagen-item-link"  
    class="pure-u-8-24"
  >
    <figure>
      <img 
        class="pure-img"
        src="{% static 'leyenda/img/' %}{{data.imagen}}"
      >
    </figure>
  </div>
  <!-- contenido texto -->
  <div 
    id="contenido-item-link"
    class="pure-u-16-24"
  >
    <h4>{{data.titulo}}</h4>
    <section>
      <p>{{data.resumen}}</p>
    </section>
      <a
         href="{% url 'leyenda:nombre' nombre %}"
      >
        Ver
     </a>
  </div>
</div>