{% extends "base.dj.html" %}

{% block encabezado %}
<h1>{{titulo}}</h1>


{% endblock encabezado %}


{% block contenido %}

<section>
	<a href="{% url 'leyenda:indice' %}">Indice</a>
</section>
{{texto|safe}}
{% endblock contenido %}
