{% extends "base.dj.html" %}

{% block encabezado %}
<h1>Laberinto del Corredor - Maze runner</h1>
{% endblock encabezado %}


{% block contenido %}

<section>
	<a href="{% url 'leyenda:indice' %}">Indice</a>
</section>
<p>
Al despertar dentro de una oscura caja en movimiento, Thomas solo recuerda su nombre. No sabe quién es. Tampoco hacia dónde va. Pero no está solo: cuando el ascensor llega a su destino, las puertas se abren y se ve rodeado por un grupo de jóvenes (todos varones).

El Glade (el Claro en España, el Área en Hispanoamérica) es un espacio abierto cercado por muros gigantescos llenos de vegetación. Al igual que Thomas, ninguno de ellos sabe cómo ha llegado allí. Ni por qué. De lo que están seguros es de que cada mañana las puertas de piedra que los separan del laberinto que los rodea se abren y por la noche, se cierran. Y que cada mes alguien nuevo es entregado por el ascensor.

Un hecho altera de forma radical la rutina del lugar: días después de la llegada de Thomas llega una chica, la primera enviada al Glade, y más sorprendente todavía es el mensaje que trae. Thomas será más importante de lo que imagina. Pero para eso deberá descubrir los sombríos secretos guardados en su mente. Por alguna razón, sabe que para lograrlo debe correr. Correr será la clave, o morirá.
</p>
{% endblock contenido %}
